# Ignore all hidden IntelliJ folders
.idea/
*.iws
*.iml
*.ipr

# Ignore Java build files in ALL services
**/target/
**/mvnw
**/mvnw.cmd
**/.mvn/

# Security
**/.env
**/application.yml
**/application.properties
**/docker-compose.yml
