version: "3.8"
services:
  postgres:
    image: postgres:15 # This tells Docker to download the official PostgreSQL software (version 15) from Docker Hub.
    container_name: product_postgres
    environment:
      POSTGRES_USER: product_user
      POSTGRES_PASSWORD: product_pass
      POSTGRES_DB: productdb
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U product_user"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
