spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/productdb
    username: product_user
    password: product_pass
    hikari:
      connection-init-sql: SET TIME ZONE 'UTC'


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  redis:
    host: localhost
    port: 6379

  cache:
    type: redis

server:
  port: 8081
